<div class="card-container">
    <div class="card">
        <p class="message">Last but certainly not least, the fourteenth reason I love you is...All of the memories we shared in such a short amount of time. From when we first started talking, to you ghosting me several times, to you coming over my apartment the first time, to us cuddling in between practices, to spending time with each other in cali, to now. Every moment with you has been magical.
        <p class="signature">-Jarred</p>
    </div>
</div>