<div class="card-container">
    <div class="card">
        <p class="message">The tenth reason why I love you is...We can poke fun at each other and know it's just for fun. Like how I call your phone broke as hell lol or how you say I have a big bum...I dont really like that one lolll. But its moments like those that I cherish and appreciate. I really love talking to you so much, because I always find myself smiling or laughing when i'm talking to you
        </p>
        <p class="signature">-Jarred</p>
    </div>
</div>