<div class="card-container">
    <div class="card">
        <p class="message">The second reason why I love you is...Your maturity. You are literally more mature then some of my friends who have graduated college. Your maturity allows us to have open and harmless conversations that help build our relationship.When ever I do something you don't like, you tell me and let me know what you would like instead. I can't tell you how much that means to me.
        </p>
        <p class="signature">-Jarred</p>
    </div>
</div>
