<div class="card-container">
    <div class="card">
        <p class="message">The fifth reason why I love you is...Your dedication and consistency to your fitness goals. The way that you are so consistent with working out and managing your diet, again is so admirable. You keep me on my toes with stuff like that lol. There has been plenty of times where I'm about to buy something and I check the label to see if my macro-queen would approve lol
        </p>
        <p class="signature">-Jarred</p>
    </div>
</div>