<div class="card-container">
    <div class="card">
        <p class="message">The sixth reason why I love you is...When I'm around you I feel so at peace and calm. It's so weird because it's one of those feelings that is so hard to explain. But when i'm with you all my problems disappear. No matter what happened that day whenever i'm around you I don't think about any of that, I just think about how lucky I am to be with you
        </p>
        <p class="signature">-Jarred</p>
    </div>
</div>