<div class="dash-container">
    <nav>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="/ilu1" *ngIf="true">Reason #1</a></li>
      <li><a routerLink="/ilu2" *ngIf="true">Reason #2</a></li>
      <li><a routerLink="/ilu3" *ngIf="true">Reason #3</a></li>
      <li><a routerLink="/ilu4" *ngIf="true">Reason #4</a></li>
      <li><a routerLink="/ilu5" *ngIf="true">Reason #5</a></li>
      <li><a routerLink="/ilu6" *ngIf="true">Reason #6</a></li>
      <li><a routerLink="/ilu7" *ngIf="true">Reason #7</a></li>
      <li><a routerLink="/ilu8" *ngIf="true">Reason #8</a></li>
      <li><a routerLink="/ilu9" *ngIf="true">Reason #9</a></li>
      <li><a routerLink="/ilu10" *ngIf="true">Reason #10</a></li>
      <li><a routerLink="/ilu11" *ngIf="true">Reason #11</a></li>
      <li><a routerLink="/ilu12" *ngIf="true">Reason #12</a></li>
      <li><a routerLink="/ilu13" *ngIf="true">Reason #13</a></li>
      <li><a routerLink="/ilu14" *ngIf="true">Reason #14</a></li>
    </nav>
  </div>
