.card-container {
    display: flex;
    padding: 10px;
}

.card {
    box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
    border-radius: 50px;
    height: 400px;
    width: 800px;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    background-color: white;
}

p {
    text-align: center;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 2em;
}

.message {
    padding: 15px;
    padding-bottom: 0;
}