<div class="card-container">
    <div class="card">
        <p class="message">The eighth reason why I love you is...I love talking to you and telling you about my day. You know how I feel about being on the phone but for some reason I can be on the phone with you for hours and it will feel like 1 second. I don't know if it is just with us being long distance or what but being on the phone with you is something that I look forward to ending my day with everyday.
        </p>
        <p class="signature">-Jarred</p>
    </div>
</div>